__pycache__/
*.pyc
*.pyo
.env
minigame_queue.json
minigame_screenshots/
users.json
boutique.json
boutique_ref.json
loterie.json
loterie_ref.json
commands/leaderboard.json
commands/leaderboard_ref.json
data.json
bets.json
commands/minigames_panel_ref.json
